{% extends 'base2.html' %}
{% load staticfiles %}
{% load static %}
{% block head %}
<title>Tender sab</title>
<style media="screen" type="text/css">
  h1{
    font-size: 30px !important;
    font-weight: bold;
  }
  .card-body p{
    font-size: 22px !important;
    font-weight:bold !important;

  }
</style>
{% endblock %}

{% block body %}
<header id="header">
  <div class="container-fluid">

    <div id="logo" class="pull-left">
      <h1><a href="/" class="scrollto"><img width="50px" height="50px"src="{% static 'gramaimg/logo.png' %}" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li  class="menu-active"><a href="/"><i style="font-size:22px;"class="fa fa-home fa-lg"></i></a></li>
        <li><a href="/forms">Submit</a></li>
        <li><a href="/grama/service">Services</a></li>
        <li><a href="/login"><i class="fa fa-sign-in " aria-hidden="true"></i>&nbsp;Login</a></li>
        <li><a href="/register"><i class="fa fa-user-plus "></i>&nbsp;Sign UP</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->


    <div class="container jumbotron" style="margin-top:100px;">
    <div class="card">
      <div class="crad-header">
        <h1>Click on the Tenders For more Info</h1>
      </div>
    {% for post in posts %}
      <div class="card-body">
        <p>{{post.id}} .&nbsp;<a href="/details">{{ post.title }}</a></p>
        <hr style="font-size:35px!important;color:#000;background-color:#000!important;font-weight:bold;">
      </div>


  {% endfor %}
</div>
</div>
<!-- Footer -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">
          <h3>Grama Panchayath</h3>
          <p>  </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="ion-ios-arrow-right"></i> <a href="/">Home</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="/">About us</a></li>
            <li><i class="ion-ios-arrow-right"></i> <a href="/grama/service">Services</a></li>


          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            Gram panchayth <br>
            Innoli,574531<br>
            Mangalore<br>
            <strong>Phone:</strong> +1 9108776988<br>
            <strong>Email:</strong> grama@example.com<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>


      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      Copyright   &copy; <strong>Government</strong> All Rights Reserved
    </div>

  </div>
</footer><!-- #footer -->
{% endblock %}
